.shell-logo {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    display: block;
    color: var(--mantine-primary-color-filled);
}

.shell-title {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* make logo and title smaller on mobile */
@media (max-width: 600px) {
    .shell-logo {
        max-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
    }

    .shell-title {
        display: none;
    }
}
